@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

* {
    font-family: "Overpass Mono";
}

html, body, #root {
    width: 100%;
    height: 100%;
}

.center-page {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.page-loading {
    margin: 0 auto;
}

.login-modal {
    flex-direction: row;
}

.channel-modal {
    flex-direction: column;
}

.channel-connections {
    margin: 0;
    padding: 0;
}

.channel-playlist {
    width: 400px;
}

.channel-playlist .card-body {
    text-align: center;
}

.channel-browse {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.channel-connections i {
    color: #666;
}

.connection-host {
    color: #DC404C !important;
}

.connection-local {
    animation-name: pulsate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.login-modal, .channel-modal {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-items: center;
    animation-name: intro;
    animation-duration: 0.5s;
}

.login-logo {
    margin: 0 15px 0 auto;
}

.login-form {
    margin: 0 auto 0 15px;
}

.login-form input {
    text-align: center;
}

.logo {
    width: 30%;
    height: 30%;
    user-select: none;
}

.page-alert {
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 0 20px;
    bottom: 1%;
}

@keyframes intro {
    from {
        opacity: 0.5;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulsate {
    from {
        filter: brightness(50%);
    }
    to {
        filter: brightness(100%);
    }
}